* {
  margin: 0;
  padding: 0;
}

.site-title {
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.items {
  width: 100%;
  text-align: center;
}

.item-desciption {
  display: inline-block;
  width: 25%;
  background-color: grey;
  border: 2px solid;
  margin: 5px;
}

.item-title {
  float: right;
  margin: 0;
  right: 0;
  width: 35%;
  text-align: center;
  border: 2px solid black;
  margin-top: -2px;
  margin-right: -2px;
}

.item-brief {
  clear: right;
}

.chicken {
  background-color: pink;
}
.beef {
  background-color: red;
  color: white;
}
.sushi {
  background-color: yellow;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .A {
    width: 36.5%;
  }
  .B {
    width: 36.5%;
  }
  .C {
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .A,
  .B,
  .C {
    width: 75%;
  }
}
